body{
    margin:4px;
    background-color: rgba(42, 39, 233, 0.849);
    height:100vh;
}
img{
    display:none;
}
.container{
    display: flex;
    height: 100vh;
}
.selections{
    display: flex;
    flex-direction: column;
    background-color: #363031;
    height: 88.5vh;
    padding: 24px;
    align-content: center;
    justify-content: space-around;
}
.gameView{
    display:flex;
    justify-content: center;
    gap:4px;
    flex:1;
}
.playerOneView{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
    height: 99vh;
    width:50%;
}
.compPlayerView{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background-color: rgba(206, 18, 18, 0.884);
    height: 99vh;
    width:50%;
}
#scorebox{
    width:100vw;
    height:60px;
    background-color: #470101;
    z-index: 1;
    
}
.show{
    width:50%;
    height:auto;
    display: flex;
}